{% extends 'base_template.html' %}
    {% load static %}

    {% block title %} Alvian DK - Blog {% endblock title %}

  {% block custom_css %}
  <link href="{% static 'css/custom.css' %}" rel="stylesheet">
  <link href="{% static 'css/blog.css' %}" rel="stylesheet">
  <link href="{% static 'css/skeleton-screen.css' %}" rel="stylesheet">
  {% endblock custom_css %}

  {% block content %}

  {% include 'component/navigation.html' %}

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <h1 class="my-4">Blog</h1>

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>  
            <li class="breadcrumb-item active" aria-current="page">Blog</li>
          </ol>
        </nav>

        {% for post in blog_posts %}  
        <!-- Blog Post -->
        <div class="card mb-4">
          <div class="placeholder-item placeholder-loading">
            <img class="card-img-top lazy-image" data-src="{{ post.cover_image.url }}" alt="Card image cap">
          </div>
          <div class="card-body">
            <h2 class="card-title">{{ post.title }}</h2>
            <p class="card-text">{{ post.summary }}</p>
            <a href="{% url 'blog:post_detail' post.slug %}" class="btn btn-info">Read More &rarr;</a>
          </div>
          <div class="card-footer text-muted">
            Posted on {{ post.published_date }}
          </div>
        </div>
        {% endfor %}

        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
          <li class="page-item">
            <a class="page-link" href="#">&larr; Older</a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
          </li>
        </ul>

      </div>

      <!-- Sidebar Widgets Column -->
      {% include 'component/side_widget_blog.html' %}

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  {% include 'component/footer.html' %}
  
  {% endblock content %}

  {% block custom_js %}

  {% include 'component/lazy_image_js.html' %}            

  {% endblock custom_js %}