{% load navigation_tag %}
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-green fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">Alvian DK</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}#about">About
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}#experience">Journey</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}#education">Education</a>
          </li>
          <!-- <li class="nav-item {% active_css_class request.path 'blog' %}">
            <a class="nav-link" href="{% url 'blog:post_list' %}">Blog</a>
          </li> -->
          <li class="nav-item {% active_css_class request.path 'showcase-project' %}">
            <a class="nav-link" href="{% url 'showcase_project:project_list' %}">Showcase</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>