<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="alviandk personal website">
  <meta name="author" content="alviandk">

  <title>{% block title %} {% endblock title %}</title>

  <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  {% block custom_css %}
  
  {% endblock custom_css %}
  
</head>

<body>

  {% block content %}
  
  {% endblock content %}

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  {% block custom_js %}
  
  {% endblock custom_js %}

</body>

</html>
