{% extends 'base_template.html' %}
    {% load static %}

    {% block title %} Alvian DK - Senior Software Engineer {% endblock title %}

  {% block custom_css %}
  <link href="{% static 'css/resume.css' %}" rel="stylesheet">
  
  <link href="{% static 'css/skeleton-screen.css' %}" rel="stylesheet">
  
  {% endblock custom_css %}

  {% block content %}

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">Alvian DK</span>
      <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{{ profile_picture.file.url }}" alt="">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#experience">Journey</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#education">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#blog">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#showcase_project">Showcase</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0">Alvian
          <span class="text-primary">DK</span>
        </h1>
        <div class="subheading mb-5">{{ personal_information.location }} ·
          <a href="#">{{ personal_information.email }}</a>
        </div>
        <p class="lead mb-5">
            {{ description.long_version }}
        </p>
        <div class="social-icons">
          <a href="{{ personal_information.linkedin }}">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="{{ personal_information.github }}">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
      <div class="w-100">
        <h2 class="mb-0">Journey</h2>
        <p class="mb-4">
          Journey contains experience, tech stack and competition sub menus.
          The experience menu contains about my professional experience in working as a software developer.
          Tech stack is the name of technology in the form of programming languages, frameworks, libraries, and tools that I am good at
          in developing software.
          Competition contains any competition that I have participated in or won.
        </p>

        <h3 class="mb-3">Experience</h3>

        {% for experience in experiences %}
          <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-4">
            <div class="resume-content">
              <h4 class="mb-0">{{ experience.role }}</h4>
              <div class="subheading mb-2">{{ experience.company.name }}</div>
              {% if experience.accomplishment %}
                <ul>
                  {% for accomplishment in experience.accomplishment.all %}
                    <li>{{ accomplishment.description }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">
                {{ experience.start_date | date:"F Y" }} - 
                {% if experience.end_date %} {{ experience.end_date | date:"F Y" }} {% else %} Present {% endif %}
              </span>
            </div>
          </div>
        {% endfor %}
        <hr class="mb-5">
        <h3 class="mb-3">Tech Stacks</h3>
        <ul class="list-inline dev-icons mb-3">
          {% for stack in tech_stacks %}
            <li class="list-inline-item mb-3">
              {{ stack.svg | safe | escape }}    
            </li>
          {% endfor %}
        </ul>
        <hr class="mb-5">
        <h3 class="mb-3">Competition</h3>
        <ul class="fa-ul mb-5">
          {% for competition in competitions %}
          <li class="loadAll">
            <i class="fa-li fa fa-trophy text-warning"></i>
            {{ competition.description }}  
            {% if competition.certificates.all %}
              {% for certificate in competition.certificates.all %}
                (<a href data-toggle="modal" data-target="#CertificateModal{{ certificate.id}}">Certificate <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"></path>
                <path fill-rule="evenodd" d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"></path>
              </svg></a>)
              {% endfor %}
            {% endif %}
          
          </li>

          {% if competition.certificates.all %}
           {% for certificate in competition.certificates.all %}
              <!-- Modal -->
              <div class="modal fade" id="CertificateModal{{ certificate.id}}" 
              tabindex="-1" role="dialog" aria-labelledby="CertificateModal{{ certificate.id}}Label" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="CertificateModal{{ certificate.id}}Label">Certificate Preview</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body ">    
                      <div class="placeholder-item placeholder-loading">
                        <img class="img-fluid lazy " data-src="{{ certificate.image.url }}" alt="">
                      </div>        
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endif %}

          {% endfor %}
        </ul>

      </div>

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
      <div class="w-100">
        <h2 class="mb-5">Education</h2>

        {% for school in schools %}
        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">{{ school.study }}</h3>
            <div class="subheading mb-3">{{ school.name }}</div>
            <p>
              GPA: {{ school.gpa }} 
          </p>
          <a href="#" class="btn btn-info" data-toggle="modal" data-target="#GPAModal{{ school.id}}">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
              <path fill-rule="evenodd" d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
            </svg>
            Preview
          <!-- </button> -->
          </a>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">{{ school.start_date | date:"Y" }} - {{ school.end_date | date:"Y" }}</span>
          </div>
        </div>
        
        <!-- Modal -->
        <div class="modal fade" id="GPAModal{{ school.id}}" 
        tabindex="-1" role="dialog" aria-labelledby="GPAModal{{ school.id}}Label" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="GPAModal{{ school.id}}Label">GPA Preview</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body placeholder-item placeholder-loading">
                {% for gpa in school.gpa_images.all %}
                  <img class="img-fluid lazy" data-src="{{ gpa.file_image.url }}" alt="">
                {% endfor %}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        {% endfor %}

      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="blog">
      <div class="w-100">
        <h2 class="mb-5">Blog</h2>
        {% for post in blog_posts %}
        <div class="card mb-4">
                  
          <div class="card-body">
            <h3 class="card-title">{{ post.title }}</h3>
            <p class="card-text"> {{ post.summary }} </p>
            <a href="{% url 'blog:post_detail' post.slug %}" class="btn btn-info">Read More ...</a>
          </div>
          <div class="card-footer text-muted">
            Posted on {{ post.published_date }}
          </div>
        </div>
        {% endfor %}
                
          <br>
          <a href="{% url 'blog:post_list' %}" class="btn btn-info float-right">More Blog Posts →</a>
        </div>
    </section>

    <hr class="m-0">

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="showcase_project">
      <div class="w-100">
        <h2 class="mb-5">Showcase Projects</h2>
  
        <p>Apart from being a web developer, I enjoy most of my time being outdoors. In the winter, I am an avid skier and novice ice climber. During the warmer months here in Colorado, I enjoy mountain biking, free climbing, and kayaking.</p>
        <p class="mb-0">When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest technology advancements in the front-end web development world.</p>
    <br>
    <div class="row">
      {% for project in project_list %}
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="{{ project.cover_image.url }}" alt="">
          <div class="card-body">
            <h4 class="card-title">{{ project.name }}</h4>
            <p class="card-text">{{ project.description | truncatewords:20 }}</p>
          </div>
          <div class="card-footer">
            <a href="{% url 'showcase_project:project_detail' project.slug %}" class="btn btn-info">Find Out More!</a>
          </div>
        </div>
      </div>
      {% endfor %}
      
    </div>
    <br>
    <a href="{% url 'showcase_project:project_list' %}"  class="btn btn-info float-right">More Projects →</a>
  
      </div>
      
    </section>

    <hr class="m-0">

  </div>

  {% endblock content %}

  {% block custom_js %}
  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="{% static 'js/resume.min.js' %}"></script>

  <script type="text/javascript" src="{% static 'js/jquery.lazy.js' %}"></script>

  <script>
    $(function() {
      
      $('.modal').on('shown.bs.modal', function () {
        var lazyImage = $(this).find('.lazy')
        lazyImage.lazy({
            bind: "event",
            delay: 700,
            afterLoad: function(element) {
              lazyImage.parent().removeClass('placeholder-loading placeholder-item');
            },
        });
      });
   });

  
  </script>
              


  {% endblock custom_js %}

</body>

</html>
