{% extends 'base_template.html' %}
    {% load static %}

    {% block title %} Alvian DK - Showcase Project {% endblock title %}

  {% block custom_css %}
  <link href="{% static 'css/custom.css' %}" rel="stylesheet">
  <link href="{% static 'css/showcase-project.css' %}" rel="stylesheet">
  <link href="{% static 'css/skeleton-screen.css' %}" rel="stylesheet">
  {% endblock custom_css %}

  {% block content %}
  {% include 'component/navigation.html' %}

  <!-- Page Content -->
  <main role="main">

    <header class="bg-info text-white">
      <div class="container text-center">
        <h1 class="text-white">Showcase Project</h1>
        <p class="lead text-white">
          Software development craft, tools, and process. <br> The art of make things done.
        </p>
      </div>
    </header>
  
    <section id="about">
      <div class="container">
        <div class="mb-5">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Showcase Project</li>
            </ol>
          </nav>
        </div>
        <div class="row">
          {% for project in project_list %}
          <div class="col-md-4 mb-5">
            <div class="card h-100">
              <div class="placeholder-item placeholder-loading">
                <img class="card-img-top lazy-image" data-src="{{ project.cover_image.url }}" alt="">
              </div>
              <div class="card-body">
                <h4 class="card-title">{{ project.name }}</h4>
                <p class="card-text">{{ project.description | truncatewords:20 }}</p>
              </div>
              <div class="card-footer">
                <a href="{% url 'showcase_project:project_detail' project.slug %}" class="btn btn-info">Find Out More!</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>

  
  
  </main>

  {% include 'component/footer.html' %}
  
  {% endblock content %}
  {% block custom_js %}

  {% include 'component/lazy_image_js.html' %}
            

  {% endblock custom_js %}
